fastapi
uvicorn
langchain-text-splitters
sentence-transformers==3.0.1
ddgs==9.14.4
wikipedia==1.4.0
python-dotenv==1.0.1
chromadb
rank_bm25
pypdf
diskcache
sse-starlette
groq
python-multipart
pydantic
